<section id="coupons" class="b">
  <div class="container">
    <div class="inner">
      <div class="coupon">
        <h3>{{ coupon_offer }}</h3>
        <h4> {{ coupon_service }}</h4>
        <p>Call today for more information</p>
        <a href="{{uspLink}}" class="claimbuttonstyle">Claim Offer</a>
      </div>
      <div class="uspText">
        <h2>{{uspTitle}}</h2>
        <p>{{uspText}}</p>
        <a href="#" class="popupbtn buttonstyle">Schedule Service</a>
      </div>
    </div>
  </div>
</section>
