<section id="reviews">
  <div class="container">
    <div class="inner">
      <header>
        <h4>Customer Reviews</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temport.</p>
      </header>
      <div class="review-cards">
        <div class="cards">
          <span>{{card_1_review}}</span>
          <h5>- {{card_1_Name}}</h5>
        </div>
        <div class="cards">
          <span>{{card_2_review}}</span>
          <h5>- {{card_2_Name}}</h5>
        </div>
        <div class="cards">
          <span>{{card_3_review}}</span>
          <h5>- {{card_3_Name}}</h5>
        </div>
      </div>
      <div class="btn-row">
        <a href="">View All Reviews</a>
      </div>
    </div>
  </div>
</section>
