<section id="hero" class="a" style="background-image: url({{ url }}{{ heroImage }}">
<div class="container">
    <div class="inner">
        <div class="hero-highlight heroSlider">
          <div class="heroSlide1">
            <h1>{{ heroHeader1 }}</h1>
            <p>{{ heroMessage1 }}</p>
          </div>
          <div class="heroSlide2">
            <h1>{{ heroHeader2 }}</h1>
            <p>{{ heroMessage2 }}</p>
          </div>
          <div class="heroSlide3">
            <h1>{{ heroHeader3 }}</h1>
            <p>{{ heroMessage3 }}</p>
          </div>
        </div>
        <div class="slider-nav">
<a href="#" class="popupbtn buttonstyle">Schedule Service</a>
        </div>
    </div>
</div>
</section>

