<!-- Service Selection  -->
<section id="service-selection" class="service-selection-icons2">
  <div class="container">
    <div class="inner">
      <div class="header">
        <h2>What can we help you with?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
      <div class="services">
        <div class="card">
          <img src="{{ url }} {{card_1_image}}" alt="{{ card_1_service }}">
          <div class="card-description">
            <h3>{{ card_1_service }}</h3>
            <a href="#">Learn more</a>
          </div>
        </div>
        <div class="card">
          <img src="{{ url }} {{card_2_image}}" alt="{{ card_2_service }}">
          <div class="card-description">
            <h3>{{ card_2_service }}</h3>
            <a href="#">Learn more</a>
          </div>
        </div>
        <div class="card">
          <img src="{{ url }} {{card_3_image}}" alt="{{ card_3_service }}">
          <div class="card-description">
            <h3>{{ card_3_service }}</h3>
            <a href="#">Learn more</a>
          </div>
        </div>
        <div class="card">
          <img src="{{ url }} {{card_4_image}}" alt="{{ card_4_service }}">
          <div class="card-description">
            <h3>{{ card_4_service }}</h3>
            <a href="#">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
