<section id="about-blurb" class="b">
  <div class="container">
    <div class="inner">
      <div class="content-left">
        <div class="about-text">
          {{ description }}
        </div>
        <div class="btn-row">
            <a href="{{aboutUrl}}">Learn More <i class="fal fa-long-arrow-right"></i></a>
        </div>
      </div>
      <div class="content-right">
        <div class="service-icons">
          <div class="row1">
            <span class="icon1 icon">
            <a href="{{icon1url}}">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 360 360" style="enable-background:new 0 0 360 360;" xml:space="preserve">
              <path d="M328.67,213l-2.68-10.88c-0.95-3.87-4.86-6.23-8.73-5.28l-58.02,14.3l-55.01-31.76l55.11-31.82l56.34,18.48
                c3.78,1.24,7.86-0.82,9.1-4.61l3.49-10.65c1.24-3.78-0.82-7.86-4.61-9.1l-34.53-11.33l39.53-22.82c3.45-1.99,4.63-6.4,2.64-9.85
                l-5.6-9.7c-1.99-3.45-6.4-4.63-9.85-2.64l-36.73,21.2l9.2-31.77c1.11-3.83-1.09-7.83-4.92-8.93l-10.76-3.12
                c-3.83-1.11-7.83,1.09-8.93,4.92l-16.63,57.4l-54.56,31.5V92.33l44.13-39.52c2.97-2.66,3.22-7.22,0.56-10.18l-7.48-8.35
                c-2.66-2.97-7.22-3.22-10.18-0.56l-27.04,24.21V16.12c0-3.98-3.23-7.21-7.21-7.21h-11.21c-3.98,0-7.21,3.23-7.21,7.21v41.81
                l-27.04-24.21c-2.97-2.66-7.53-2.41-10.18,0.56l-7.48,8.35c-2.66,2.97-2.41,7.53,0.56,10.18l44.13,39.52v65.48l-56.72-32.75
                L98.01,67.09c-0.82-3.9-4.64-6.4-8.54-5.58l-10.97,2.3c-3.9,0.82-6.4,4.64-5.58,8.54l7.45,35.52L44.16,86.96
                c-3.45-1.99-7.86-0.81-9.85,2.64l-5.6,9.7c-1.99,3.45-0.81,7.86,2.64,9.85l36.21,20.91l-34.48,11.31c-3.78,1.24-5.85,5.32-4.61,9.1
                l3.49,10.65c1.24,3.78,5.32,5.85,9.1,4.61l56.29-18.46l55.62,32.11L98,211.11L41.7,192.65c-3.78-1.24-7.86,0.82-9.1,4.61
                l-3.49,10.65c-1.24,3.78,0.82,7.86,4.61,9.1l34.49,11.31l-36.21,20.91c-3.45,1.99-4.63,6.4-2.64,9.85l5.6,9.7
                c1.99,3.45,6.4,4.63,9.85,2.64l36.21-20.91l-7.45,35.52c-0.82,3.9,1.68,7.72,5.58,8.54l10.97,2.3c3.9,0.82,7.72-1.68,8.54-5.58
                l12.16-57.98l56.07-32.37v62.89l-44.17,39.55c-2.97,2.66-3.22,7.22-0.56,10.18l7.48,8.35c2.66,2.97,7.22,3.22,10.18,0.56
                l27.07-24.24v45.65c0,3.98,3.23,7.21,7.21,7.21h11.21c3.98,0,7.21-3.23,7.21-7.21v-42.41l22.91,23.85c2.76,2.87,7.32,2.96,10.2,0.21
                l8.08-7.76c2.87-2.76,2.96-7.32,0.21-10.2l-41.39-43.1v-62.27l53.36,30.81l12.17,58.03c0.82,3.9,4.64,6.4,8.54,5.58l10.97-2.3
                c3.9-0.82,6.4-4.64,5.58-8.54l-7.46-35.57l39.53,22.82c3.45,1.99,7.86,0.81,9.85-2.64l5.6-9.7c1.99-3.45,0.81-7.86-2.64-9.85
                l-36.73-21.2l32.11-7.91C327.26,220.77,329.62,216.86,328.67,213z"/>
              </svg>
              <p>Air Conditioning</p>
              </a>
            </span>
            <span class="icon2 icon">
            <a href="{{icon2url}}">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 288 288" style="enable-background:new 0 0 288 288;" xml:space="preserve">
              <style type="text/css">
                .st0{fill:#231F20;}
              </style>
              <g>
                <path class="st0" d="M115.43,252.89l60.66-0.7c2.81-0.03,5.06-2.15,5.03-4.73c-0.03-2.58-2.33-4.64-5.14-4.61l-60.66,0.7
                  c-2.81,0.03-5.06,2.15-5.03,4.73C110.32,250.86,112.62,252.92,115.43,252.89z"/>
                <path class="st0" d="M176.15,257.53l-60.66,0.7c-2.81,0.03-5.06,2.15-5.03,4.73c0.03,2.58,2.33,4.64,5.14,4.61l60.66-0.7
                  c2.81-0.03,5.06-2.15,5.03-4.73C181.27,259.56,178.96,257.49,176.15,257.53z"/>
                <path class="st0" d="M204.33,44.55c-14.31-15.61-36.64-24.39-61.25-24.11c-24.59,0.28-46.7,9.58-60.66,25.51
                  C68.86,61.44,61.43,81.72,62.04,101.6c0.59,19.54,7.76,38.8,21.32,57.23c14.57,19.82,24.13,44.99,28.41,74.82
                  c0.36,2.53,2.54,4.4,5.1,4.37l57.47-0.66c2.55-0.03,4.69-1.95,4.99-4.48c3.59-29.92,12.57-55.31,26.68-75.46
                  c13.13-18.74,19.85-38.16,19.99-57.71C226.14,79.83,218.24,59.72,204.33,44.55z M115.16,61.62c-11.73,11.7-17.34,24.11-17.65,39.03
                  c-0.37,18.16,8.56,34.27,16.11,44.59c1.66,2.27,1.17,5.45-1.1,7.11c-0.89,0.65-1.92,0.97-2.94,0.98c-1.59,0.02-3.16-0.7-4.17-2.08
                  C93.25,134.63,87,117.06,87.34,100.44c0.36-17.48,7.11-32.53,20.63-46.03c1.99-1.98,5.21-1.98,7.2,0.01
                  C117.15,56.41,117.15,59.63,115.16,61.62z"/>
              </g>
              <path class="st0" d="M-156.74,126.65c-0.69,1.83-1.04,3.75-1.04,5.68c0,9.78,8.81,17.73,19.63,17.73c10.82,0,19.63-7.95,19.63-17.73
                c0-1.93-0.35-3.84-1.04-5.68c-0.29-0.79-0.65-1.56-1.07-2.3l-0.24-0.43h0.05l-16.57-34.11c-0.63-1.29-2.48-1.26-3.07,0.05
                l-15.11,34.06L-156.74,126.65z M-145.85,143.43c-0.22,0.36-0.61,0.55-1,0.55c-0.22,0-0.43-0.06-0.63-0.18
                c-7.96-5.01-5.04-14.78-2.15-21.69c0.25-0.6,0.94-0.88,1.54-0.63c0.6,0.25,0.88,0.94,0.63,1.54c-4.12,9.86-3.74,15.66,1.23,18.79
                C-145.67,142.15-145.5,142.88-145.85,143.43z"/>
              </svg>
              <p>Electrical</p>
              </a>
            </span>
          </div>
          <div class="row2">
            <span class="icon3 icon">
            <a href="{{icon3url}}">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 360 360" style="enable-background:new 0 0 360 360;" xml:space="preserve">
            <style type="text/css">
              .st0{fill:#231F20;}
            </style>
            <g>
              <path class="st0" d="M227.37,218.01V59.58c0-6.17-5-11.17-11.18-11.17s-11.17,5-11.17,11.17v158.43
                c-20.82,5.03-36.28,23.76-36.28,46.12c0,26.21,21.25,47.46,47.46,47.46c26.21,0,47.46-21.25,47.46-47.46
                C263.65,241.78,248.18,223.04,227.37,218.01z"/>
              <path class="st0" d="M262.38,195.77v-10.19h18.34v-11.03h-18.34v-8.93h18.34v-11.03h-18.34v-8.93h18.34v-11.03h-18.34v-8.93h18.34
                V114.7h-18.34v-8.93h18.34V94.75h-18.34v-8.93h18.34V74.8h-18.34v-8.93h18.34V54.85h-18.58c-2.38-23.26-22.08-41.46-45.95-41.46
                c-25.47,0-46.19,20.72-46.19,46.19v136.19c-22.39,15.13-36.29,40.73-36.29,68.36c0,45.48,37,82.47,82.48,82.47
                c45.48,0,82.47-37,82.47-82.47C298.67,236.5,284.77,210.91,262.38,195.77z M216.19,326.5c-34.39,0-62.36-27.97-62.36-62.36
                c0-24.81,14.44-46.68,36.29-56.67V59.58c0-14.38,11.7-26.07,26.08-26.07c14.38,0,26.07,11.7,26.07,26.07v147.89
                c21.84,9.99,36.28,31.86,36.28,56.67C278.55,298.52,250.58,326.5,216.19,326.5z"/>
              <g>
                <path class="st0" d="M115.92,30.56c-1.87-1.45-4.57-0.01-4.4,2.35l2.95,40.48c9.35-8.86,21.35-14.95,34.69-16.96L115.92,30.56z"/>
                <path class="st0" d="M69.75,78.21c-2.36,0.09-3.5,2.93-1.85,4.63l27.14,27.9c1.92-13.04,7.74-24.81,16.23-34.08L69.75,78.21z"/>
                <path class="st0" d="M94.39,117.78l-32.17,29.78c-1.74,1.61-0.75,4.51,1.61,4.72l41.35,3.72c-6.84-10.24-10.84-22.55-10.84-35.79
                  C94.34,119.4,94.36,118.59,94.39,117.78z"/>
                <path class="st0" d="M107.13,158.78l-5.29,43.84c-0.28,2.35,2.35,3.92,4.28,2.56l33.26-23.44
                  C126.36,177.62,115.12,169.48,107.13,158.78z"/>
                <path class="st0" d="M105.66,120.22c0,29.38,23.81,53.19,53.19,53.19V67.03C129.47,67.03,105.66,90.84,105.66,120.22z"/>
              </g>
            </g>
            </svg>
              <p>Heating</p>
              </a>
            </span>
            <span class="icon4 icon">
            <a href="{{icon4url}}">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 288 288" style="enable-background:new 0 0 288 288;" xml:space="preserve">
              <style type="text/css">
                .st0{fill:#231F20;}
              </style>
              <path class="st0" d="M63.63,175.08c-2.98,7.93-4.49,16.19-4.49,24.56c0,42.26,38.07,76.65,84.87,76.65
                c46.79,0,84.86-34.38,84.86-76.65c0-8.36-1.51-16.62-4.5-24.55c-1.28-3.39-2.83-6.74-4.61-9.93l-1.04-1.85h0.23L147.29,15.83
                c-2.72-5.59-10.73-5.45-13.25,0.23L68.69,163.3L63.63,175.08z M110.7,247.6c-0.97,1.54-2.63,2.38-4.32,2.38
                c-0.93,0-1.87-0.25-2.71-0.78c-34.41-21.66-21.79-63.9-9.31-93.79c1.09-2.59,4.06-3.83,6.67-2.74c2.6,1.09,3.83,4.07,2.74,6.67
                c-17.8,42.64-16.16,67.69,5.33,81.22C111.48,242.07,112.2,245.22,110.7,247.6z"/>
              </svg>
              <p>Plumbing</p>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
